* {
  box-sizing: border-box;
  margin: 0;
  //cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;

  // background-image: url("../images/background.jpg");
}
.body {
  background-image: url("../images/backgroundv3.jpg");
}
