.filter {
  //background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid rgb(154, 1, 255);
  border-radius: 20px;
  transition: background-color ease-in 0.5s;
  &:hover {
    background-color: rgba(182, 83, 248, 0.24);
  }
  &__text {
    padding: 20px;
    text-transform: uppercase;
    color: white;
  }
  &__input {
    // width: 150px;
    margin-left: 15px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    color: white;
    padding-left: 10px;
  }
  &__select {
    height: 40px;
    // width: 150px;
    overflow: hidden;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: relative;
    padding: 10px 0;
    margin-right: 20px;
  }

  &__select select {
    color: white;
    width: 220px;
    border: transparent;
    position: relative;
    z-index: 99;
    background: none;
  }
  &__select option {
    color: black;
    background: none;
  }
}
@media all and (max-width: 768px) {
  .filter {
    width: 80%;
    display: flex;
    flex-direction: column;

    &__text {
      padding: 20px;
      text-transform: uppercase;
      color: white;
    }
    &__input {
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid white;
      color: white;
      width: 90%;
      // margin-right: 30px;
    }
    &__select {
      display: flex;
      // overflow: hidden;
      border-bottom: 1px solid rgb(255, 255, 255);
      margin-left: 15%;
      margin-right: 15%;
    }

    &__select select {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      border: transparent;
      position: relative;

      z-index: 99;
      background: none;
    }
    &__select option {
      color: black;
      background: none;
    }
  }
}
