.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    text-align: center;
    width: 80vw;
    color: rgb(2, 194, 194);
    font-size: 20px;
    &--sad {
      margin: 10px;
      color: rgb(2, 194, 194);
      font-size: 40px;
    }
  }
}
